.features__list {
  @include list-reset();

  display: flex;
  flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
  padding-top: 113px;
}

.features__item {
  width: calc(50% - 30px);
  min-height: 299px;
  margin: 0 15px 30px;

  background-color: $white;
  border: 1px solid #ebebeb;
  box-shadow: 3px 0 0 0 $blue inset;
}

.features__link {
  height: 100%;
  display: block;
  padding: 40px 43px;

  transition: all 0.3s;

  &:hover {
    background-color: $blue;
  }

  &:hover h3,
  &:hover p {
    color: $white;
  }

  &:hover .features__img {
    fill: $white;
  }
}

.features h3 {
  margin: 0;
  margin-top: 14px;
  margin-bottom: 16px;

  font-family: $roboto;
  font-size: 24px;
  line-height: 35px;
  letter-spacing: -0.2px;
  color: $blue;
}

.features p {
  max-width: 480px;
  margin: 0;
  line-height: 20px;
  color: $text;
}

@media (max-width: $tablet-width) {
  .features__list {
    padding-top: 54px;
  }

  .features__item {
    min-height: 0;

    box-shadow: 2px 0 0 0 $blue inset;
  }

  .features__link {
    padding: 0;
    padding-top: 25px;
    padding-left: 26px;
    padding-right: 25px;
    padding-bottom: 20px;
  }

  .features__img {
    zoom: 0.9;
  }

  .features h3 {
    margin-top: 1px;
    margin-bottom: 8px;

    font-weight: 400;
    letter-spacing: 0.1px;
  }

  .features p {
    line-height: 22px;
  }

  .features__img--zoom {
    zoom: 1;
  }

  .features__item--height p {
    margin-bottom: 17px;
  }

  .features__link--correction-padding {
    padding-right: 0;
  }

  .features__item--correction-margin h3 {
    margin-top: 5px;
    margin-bottom: 15px;
  }
}

@media (max-width: $mobile-width) {
  .features__list {
    display: block;
    margin: 0;
    padding-top: 37px;
  }

  .features__item {
    width: auto;
    margin: 0 auto;
    margin-bottom: 20px;
  }

  .features__link {
    padding-bottom: 27px;
    padding-right: 15px;
  }

  .features h3 {
    margin-top: 5px;

    font-size: 20px;
    line-height: 28px;
  }

  .features p {
    letter-spacing: 0.1px;
  }

  .features__link--correction-text {
    padding-right: 0;
  }

  .features__link--correction-padding {
    padding-bottom: 58px;
  }

  .features__item--height p {
    margin-top: 14px;
    margin-bottom: 0;
  }
}
