.form {
  position: relative;

  width: 570px;

  color: $white;
}

.form h2 {
  @include h2(11px);

  letter-spacing: -0.1px;
}

.form p {
  margin: 0;
  margin-bottom: 50px;
}

.form__wrapper-column {
  display: flex;
  justify-content: space-between;
}

.form__row {
  width: 270px;
}

.form__row input[id="form-name"],
.form__row input[id="form-phone"] {
  width: 100%;
  padding: 14px 17px;

  color: $white;

  border: none;
  background-color: rgba($white, 0.1);
  border-radius: 0;

  transition: all 0.3;

  &::placeholder {
    color: $white;
  }

  &:hover,
  &:focus {
    background-color: rgba($white, 0.2);
  }
}

.form__wrapper-textarea {
  margin: 41px 0;
  margin-bottom: 37px;
}

.form__wrapper-textarea textarea[id="form-text"] {
  width: 100%;
  padding: 17px 15px;

  color: $white;

  border: none;
  background-color: rgba($white, 0.1);
  border-radius: 0;

  resize: none;

  &::placeholder {
    color: $white;
  }

  &:hover,
  &:focus {
    background-color: rgba($white, 0.2);
  }
}

.form__wrapper-column button[type="submit"] {
  @include button($white);

  width: 270px;

  background-color: transparent;

  cursor: pointer;
}

.form__row label[for="form-user"] {
  position: relative;

  display: block;
  padding-left: 40px;

  font-size: 14px;

  cursor: pointer;

  &::before,
  &::after {
    position: absolute;
    content: "";
  }

  &::before {
    top: 5px;
    left: 7px;
    height: 16px;
    width: 16px;

    border: 1px solid $white;
  }

  &::after {
    top: 9px;
    left: 10px;

    height: 5px;
    width: 9px;
    border-left: 2px solid $white;
    border-bottom: 2px solid $white;

    transform: rotate(-45deg);
  }
}

.form__row input[id="form-user"] + label::after {
  content: none;
}

.form__row input[id="form-user"]:checked + label::after {
  content: "";
}

.form__row input[id="form-user"]:focus + label::before {
  outline: 1px solid #e59700;
}

@media (max-width: $tablet-width) {
  .form {
    width: 591px;
  }

  .form h2 {
    margin-bottom: 18px;

    font-size: 32px;
    line-height: 45px;
  }

  .form p {
    margin-bottom: 52px;
    padding-left: 4px;
  }

  .form__row {
    width: 280px;
  }

  .form__row input[id="form-name"],
  .form__row input[id="form-phone"] {
    padding: 16px 19px;
  }

  .form__wrapper-textarea {
    margin-top: 48px;
    margin-bottom: 43px;
  }

  .form__wrapper-textarea textarea[id="form-text"] {
    width: 100%;
    padding: 13px 19px;

    color: $white;

    border: none;
    background-color: rgba($white, 0.1);

    resize: none;
  }

  .form__wrapper-column button[type="submit"] {
    width: 280px;
    padding: 15px 0;
  }

  label[for="user"] {
    padding-top: 5px;
    padding-left: 45px;
    line-height: 19px;
  }

  .form__row label[for="form-user"] {
    width: 250px;
    padding-left: 45px;
    padding-top: 7px;

    line-height: 18px;

    &::before {
      top: 10px;
      left: 10px;
    }

    &::after {
      top: 13px;
      left: 14px;
    }
  }
}

@media (max-width: $mobile-width) {
  .form {
    width: auto;
    max-width: 570px;
  }

  .form h2 {
    margin-bottom: 15px;

    font-size: 28px;
    line-height: 39px;
  }

  .form p {
    margin-bottom: 25px;
  }

  .form__wrapper-column {
    display: block;
  }

  .form__row {
    width: auto;
    margin-bottom: 31px;
  }

  .form__wrapper-textarea {
    margin-top: 0;
    margin-bottom: 24px;
  }

  .form__wrapper-textarea textarea[id="form-text"] {
    padding: 16px 19px;
    height: 107px;

    resize: vertical;
  }

  .form__wrapper-column button[type="submit"] {
    display: block;
    width: 100%;
  }

  .form__row label[for="form-user"] {
    padding-top: 27px;
    padding-left: 37px;
    line-height: 19px;

    &::before {
      top: 30px;
      left: 3px;
    }

    &::after {
      top: 33px;
      left: 7px;
    }
  }
}
