.form {
  position: relative;

  width: 570px;

  color: $white;

  background-color: $blue;
}

.form__title {
  @include h2(11px);

  letter-spacing: -0.1px;
}

.form__text {
  margin: 0;
  margin-bottom: 50px;
}

.form__wrapper-column {
  display: flex;
  justify-content: space-between;

  background-color: $blue;
}

.form__row {
  width: 270px;
}

.form__row input[type="text"],
.form__row input[type="tel"] {
  width: 100%;
  padding: 14px 17px;

  color: $white;

  border: none;
  background-color: rgba($white, 0.1);

  transition: all 0.3;

  &::placeholder {
    color: $white;
  }

  &:hover,
  &:focus {
    background-color: rgba($white, 0.2);
  }
}

.form__wrapper-textarea {
  margin: 41px 0;
  margin-bottom: 37px;
}

.form__wrapper-textarea textarea {

  width: 100%;
  padding: 17px 15px;

  color: $white;

  border: none;
  background-color: rgba($white, 0.1);

  resize: none;

  &:hover,
  &:focus {
    background-color: rgba($white, 0.2);
  }
}

.form__wrapper-column button {
  @include button($white);

  width: 270px;

  background-color: transparent;

  cursor: pointer;
}

label[for="user"] {
  position: relative;

  display: block;
  padding-left: 40px;

  font-size: 14px;

  cursor: pointer;
}

// Чекбокс
input[type="checkbox"] + span {
  position: absolute;
  top: 8px;
  left: 8px;

  width: 16px;
  height: 16px;

  border: 1px solid $white;
}

input[type="checkbox"]:checked + span {
  &::before {
    content: "";

    position: absolute;
    top: 1px;
    left: 4px;

    width: 5px;
    height: 8px;

    border-bottom: 1px solid $white;
    border-right: 1px solid $white;

    transform: rotate(45deg);
  }
}

// Кнопка закрытия модального окна
.form__button-close {
  position: absolute;
  top: 20px;
  right: 20px;

  display: none;
  width: 16.56px;
  height: 16.56px;

  border: none;
  background: none;

  cursor: pointer;

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 8px;
    left: -3px;

    width: 23px;
    height: 1px;

    background-color: $white;
    border-radius: 5px;
  }

  &::before {
    transform: rotate(45deg);
  }

  &::after {
    transform: rotate(-45deg);
  }

  &:hover,
  &:focus {
    opacity: 0.7;
  }

  &:active {
    opacity: 0.3;
  }
}

.form__button-close--show {
  display: block;
}

@media (max-width: $tablet-width) {
  .form {
    width: 591px;
  }

  .form__title {
    margin-bottom: 18px;

    font-size: 32px;
    line-height: 45px;
  }

  .form__text {
    margin-bottom: 52px;
    padding-left: 4px;
  }

  .form__row {
    width: 280px;
  }

  .form__row input[type="text"],
  .form__row input[type="tel"] {
    padding: 16px 19px;
  }

  .form__wrapper-textarea {
    margin-top: 48px;
    margin-bottom: 43px;
  }

  .form__wrapper-textarea textarea {
    width: 100%;
    padding: 13px 19px;

    color: $white;

    border: none;
    background-color: rgba($white, 0.1);

    resize: none;
  }

  .form__wrapper-column button {
    width: 280px;
    padding: 15px 0;
  }

  label[for="user"] {
    padding-top: 5px;
    padding-left: 45px;
    line-height: 19px;
  }

  input[type="checkbox"] + span {
    top: 9px;
    left: 10px;
  }
}

@media (max-width: $mobile-width) {
  .form {
    width: auto;
    max-width: 570px;
  }

  .form__title {
    margin-bottom: 15px;

    font-size: 28px;
    line-height: 39px;
  }

  .form__text {
    margin-bottom: 25px;
  }

  .form__wrapper-column {
    display: block;
  }

  .form__row {
    width: auto;
    margin-bottom: 31px;
  }

  .form__wrapper-textarea {
    margin-top: 0;
    margin-bottom: 24px;
  }

  .form__wrapper-textarea textarea {
    padding: 16px 19px;
    height: 107px;

    resize: vertical;
  }

  .form__wrapper-column button {
    display: block;
    width: 100%;
  }

  label[for="user"] {
    padding-top: 27px;
    padding-left: 37px;
    line-height: 19px;
  }

  input[type="checkbox"] + span {
    top: 30px;
    left: 3px;
  }
}
