.offers {
  padding-top: 88px;
  padding-bottom: 110px;

  background-color: $bg;
}

.offers h2 {
  @include h2(38px);

  color: $white;
}

.offers__list {
  @include list-reset();

  display: flex;
  flex-wrap: wrap;
  margin: 0 -15px;
}

.offers__item {
  position: relative;

  width: calc(33.33% - 30px);
  margin: 15px;
}

.offers__link {
  position: relative;
  display: block;

  &::before {
    content: "";
    position: absolute;
    z-index: 10;
    bottom: 0;
    right: 0;

    width: 63px;
    height: 63px;

    background-color: $blue;
  }

  &::after {
    content: "";
    position: absolute;
    z-index: 11;
    bottom: 29px;
    right: 28px;

    width: 7px;
    height: 7px;

    border-bottom: 1px solid $white;
    border-right: 1px solid $white;
    transform: rotate(-45deg);
  }

  &:hover .offers__inner-item,
  &:focus .offers__inner-item {
    opacity: 0.1;
  }

  &:hover h3,
  &:focus h3 {
    opacity: 0.5;
  }
}

.offers h3 {
  position: absolute;
  padding-top: 48px;
  padding-left: 44px;

  max-width: 200px;
  margin: 0;

  font-family: $roboto;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  color: $white;

  transition: all 0.3s;
}

.offers__inner-item {
  position: relative;

  height: 620px;

  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
  opacity: 0.2;

  transition: all 0.3s;
}

.offers__inner-item--background-production {
  background-image: url("../img/bg-production1x.jpg");

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/bg-production2x.jpg");
  }
}

.offers__inner-item--background-montage {
  background-image: url("../img/bg-montage1x.jpg");

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/bg-montage2x.jpg");
  }
}

.offers__inner-item--background-components {
  background-image: url("../img/bg-components1x.jpg");

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/bg-components2x.jpg");
  }
}

@media (max-width: $tablet-width) {
  .offers {
    padding-top: 51px;
    padding-bottom: 31px;
  }

  .offers h2 {
    max-width: 615px;
    margin-bottom: 50px;

    font-size: 32px;
    line-height: 45px;
  }

  .offers__list {
    display: block;
  }

  .offers h3 {
    padding-top: 40px;
  }

  .offers__item {
    width: auto;
  }

  .offers__inner-item {
    height: auto;
    min-height: 256px;
    margin-bottom: 46px;
    padding-top: 40px;
  }

  .offers__inner-item--background-production {
    background-image: url("../img/bg-tablet-production1x.jpg");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/bg-tablet-production2x.jpg");
    }
  }

  .offers__inner-item--background-montage {
    background-image: url("../img/bg-tablet-montage1x.jpg");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/bg-tablet-montage2x.jpg");
    }
  }

  .offers__inner-item--background-components {
    background-image: url("../img/bg-tablet-components1x.jpg");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/bg-tablet-components2x.jpg");
    }
  }
}

@media (max-width: $mobile-width) {
  .offers {
    padding-bottom: 35px;
  }

  .offers h2 {
    margin-left: 10px;
    margin-bottom: 40px;

    font-size: 28px;
    line-height: 39px;
  }

  .offers__inner-item {
    margin-bottom: 30px;
    padding-top: 21px;
  }

  .offers h3 {
    padding-top: 20px;
    padding-left: 37px;
  }

  .offers__link {
    &::after {
      bottom: 28px;
      right: 32px;
    }
  }
}
